{% extends 'base.html' %} {% load static %} {% block content %}
<div class="img_list_container container">
    {% for image in image_list %}
    <div class="img_container container text-center">
        <div class="row one_image_row">
            <div class="col-8">
                <img
                    class="detail_image"
                    src="data:image/jpeg;base64,{{ image.2 }}"
                />
            </div>
            <div class="col-4 table_only">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Class</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Image name</th>
                            <td>{{ image.1 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Seed</th>
                            <td>{{ image.3 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Steps</th>
                            <td>{{ image.4 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sampler</th>
                            <td>{{ image.5 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CFG scale</th>
                            <td>J{{ image.6 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Model hash</th>
                            <td>{{ image.7 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Clip skip</th>
                            <td>{{ image.8 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Denoising sampler</th>
                            <td>{{ image.9 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Upload time</th>
                            <td>{{ image.10 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
