{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 2rem auto;">
        {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
            <h2 style="font-family: 'GmarketSansBold';">{{ target_user.profile.nickname }}</h2>

            {% if target_user == user %}
                <a href="{% url 'profile_app:update' pk=target_user.profile.pk%}" style="text-decoration-line: none;">
                    <h2 style="font-family: 'GmarketSansBold';">Edit profile</h2>
                </a>
            {% endif %}

            <h5 style="margin-top: 2rem; margin-bottom: 2rem;">
                {{ target_user.profile.message }}
            </h5>
        {% else %}
            {% if target_user == user %}
                <a href="{% url 'profile_app:create' %}" style="text-decoration-line: none;">
                    <h2 style="font-family: 'GmarketSansBold';">Create profile</h2>
                </a>
            {% else %}
                <h2>닉네임 미설정</h2>
            {% endif %}
        {% endif %}

        {% if target_user == user %}
            <a href="{% url 'account_app:update' pk=user.pk %}" style="text-decoration-line: none;">
                <btn class="btn btn-dark rounded-pill col-6 mt-3">Change Information</btm>
            </a>
            <a href="{% url 'account_app:delete' pk=user.pk %}" style="text-decoration-line: none;">
                <btn class="btn btn-danger rounded-pill col-6 mt-3">Quit</btn>
            </a>
        {% endif %}
    </div>
    {% include 'snippets/list_fragment.html' with article_list=object_list %}
</div>

{% endblock %}