{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 2rem auto;">
        <p>{{ target_user.date_joined }}</p>
        <h2 style="font-family: 'GmarketSansBold';">{{ target_user.username }}</h2>

        {% if target_user == user %}
            <a href="{% url 'account_app:update' pk=user.pk %}" class="btn btn-dark rounded-pill col-6 mt-3" >
                <h5>Change Information</h5>
            </a>
            <a href="{% url 'account_app:delete' pk=user.pk %}" class="btn btn-danger rounded-pill col-6 mt-3" >
                <h5>Quit</h5>
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}